In [6]:
import pandas as pd
import numpy as np

In [7]:
dataset = pd.read_csv("flood_pagasa_2015_2016_2017.csv", index_col=['Time'], parse_dates=['Time'], skipinitialspace=True)
dataset = dataset.drop(dataset.columns[0], axis=1)
dataset = dataset.drop(dataset.columns[0], axis=1)
dataset = dataset.drop(dataset.columns[1], axis=1)
# dataset['Time'] = pd.to_datetime(dataset['Time'])
# dataset = dataset[(dataset['Time'].year >= '2015') & (dataset['Time'] <= '2017')]
dataset

                    WL [El.m]
Time
2015-01-01 00:00:00         0
2015-01-01 00:10:00         -
2015-01-01 00:20:00         -
2015-01-01 00:30:00         -
2015-01-01 00:40:00         -
2015-01-01 00:50:00         -
2015-01-01 01:00:00         -
2015-01-01 01:10:00         -
2015-01-01 01:20:00         -
2015-01-01 01:30:00         -
2015-01-01 01:40:00         -
2015-01-01 01:50:00         -
2015-01-01 02:00:00         -
2015-01-01 02:10:00         -
2015-01-01 02:20:00         -
2015-01-01 02:30:00         -
2015-01-01 02:40:00         -
2015-01-01 02:50:00         -
2015-01-01 03:00:00         -
2015-01-01 03:10:00         -
2015-01-01 03:20:00         -
2015-01-01 03:30:00         -
2015-01-01 03:40:00         -
2015-01-01 03:50:00         -
2015-01-01 04:00:00         -
2015-01-01 04:10:00         -
2015-01-01 04:20:00         -
2015-01-01 04:30:00         -
2015-01-01 04:40:00         -
2015-01-01 04:50:00         -
...                       ...
2017-12-31 19:00:00     21.18
2017-12-31 19:10:00         0
2017-12-31 19:20:00         0
2017-12-31 19:30:00         0
2017-12-31 19:40:00         0
2017-12-31 19:50:00         0
2017-12-31 20:00:00     21.18
2017-12-31 20:10:00         0
2017-12-31 20:20:00         0
2017-12-31 20:30:00         0
2017-12-31 20:40:00         0
2017-12-31 20:50:00         0
2017-12-31 21:00:00     21.18
2017-12-31 21:10:00         0
2017-12-31 21:20:00         0
2017-12-31 21:30:00         0
2017-12-31 21:40:00         0
2017-12-31 21:50:00         0
2017-12-31 22:00:00     21.18
2017-12-31 22:10:00         0
2017-12-31 22:20:00         0
2017-12-31 22:30:00         0
2017-12-31 22:40:00         0
2017-12-31 22:50:00         0
2017-12-31 23:00:00     21.18
2017-12-31 23:10:00         0
2017-12-31 23:20:00         0
2017-12-31 23:30:00         0
2017-12-31 23:40:00         0
2017-12-31 23:50:00         0

[157824 rows x 1 columns]

In [8]:
dataset = dataset.replace('-', np.nan)

dataset = dataset.reset_index().drop_duplicates(subset='Time', keep='last').set_index('Time')
# dataset = dataset.reindex(pd.date_range("2015-01-01 00:00:00", "2018-01-01 00:00:00"))

# #convert to float
dataset = dataset.astype(float)

dataset = dataset.resample('15T').interpolate(method='linear', axis=0).ffill().bfill()
dataset.tail(200)

                     WL [El.m]
Time
2017-12-29 22:00:00      21.18
2017-12-29 22:15:00      10.59
2017-12-29 22:30:00       0.00
2017-12-29 22:45:00       0.00
2017-12-29 23:00:00       0.00
2017-12-29 23:15:00       0.00
2017-12-29 23:30:00       0.00
2017-12-29 23:45:00       0.00
2017-12-30 00:00:00       0.00
2017-12-30 00:15:00       0.00
2017-12-30 00:30:00       0.00
2017-12-30 00:45:00      10.59
2017-12-30 01:00:00      21.18
2017-12-30 01:15:00      10.59
2017-12-30 01:30:00       0.00
2017-12-30 01:45:00      10.59
2017-12-30 02:00:00      21.18
2017-12-30 02:15:00      10.59
2017-12-30 02:30:00       0.00
2017-12-30 02:45:00      10.59
2017-12-30 03:00:00      21.18
2017-12-30 03:15:00      10.59
2017-12-30 03:30:00       0.00
2017-12-30 03:45:00      10.59
2017-12-30 04:00:00      21.18
2017-12-30 04:15:00      10.59
2017-12-30 04:30:00       0.00
2017-12-30 04:45:00       0.00
2017-12-30 05:00:00       0.00
2017-12-30 05:15:00       0.00
...                        ...
2017-12-31 16:30:00       0.00
2017-12-31 16:45:00       0.00
2017-12-31 17:00:00       0.00
2017-12-31 17:15:00       0.00
2017-12-31 17:30:00       0.00
2017-12-31 17:45:00      10.59
2017-12-31 18:00:00      21.18
2017-12-31 18:15:00      10.59
2017-12-31 18:30:00       0.00
2017-12-31 18:45:00      10.59
2017-12-31 19:00:00      21.18
2017-12-31 19:15:00      10.59
2017-12-31 19:30:00       0.00
2017-12-31 19:45:00      10.59
2017-12-31 20:00:00      21.18
2017-12-31 20:15:00      10.59
2017-12-31 20:30:00       0.00
2017-12-31 20:45:00      10.59
2017-12-31 21:00:00      21.18
2017-12-31 21:15:00      10.59
2017-12-31 21:30:00       0.00
2017-12-31 21:45:00      10.59
2017-12-31 22:00:00      21.18
2017-12-31 22:15:00      10.59
2017-12-31 22:30:00       0.00
2017-12-31 22:45:00      10.59
2017-12-31 23:00:00      21.18
2017-12-31 23:15:00      10.59
2017-12-31 23:30:00       0.00
2017-12-31 23:45:00       0.00

[200 rows x 1 columns]

In [9]:
dataset

                     WL [El.m]
Time
2015-01-01 00:00:00   0.000000
2015-01-01 00:15:00   0.001199
2015-01-01 00:30:00   0.002398
2015-01-01 00:45:00   0.003596
2015-01-01 01:00:00   0.004795
2015-01-01 01:15:00   0.005994
2015-01-01 01:30:00   0.007193
2015-01-01 01:45:00   0.008392
2015-01-01 02:00:00   0.009590
2015-01-01 02:15:00   0.010789
2015-01-01 02:30:00   0.011988
2015-01-01 02:45:00   0.013187
2015-01-01 03:00:00   0.014386
2015-01-01 03:15:00   0.015584
2015-01-01 03:30:00   0.016783
2015-01-01 03:45:00   0.017982
2015-01-01 04:00:00   0.019181
2015-01-01 04:15:00   0.020379
2015-01-01 04:30:00   0.021578
2015-01-01 04:45:00   0.022777
2015-01-01 05:00:00   0.023976
2015-01-01 05:15:00   0.025175
2015-01-01 05:30:00   0.026373
2015-01-01 05:45:00   0.027572
2015-01-01 06:00:00   0.028771
2015-01-01 06:15:00   0.029970
2015-01-01 06:30:00   0.031169
2015-01-01 06:45:00   0.032367
2015-01-01 07:00:00   0.033566
2015-01-01 07:15:00   0.034765
...                        ...
2017-12-31 16:30:00   0.000000
2017-12-31 16:45:00   0.000000
2017-12-31 17:00:00   0.000000
2017-12-31 17:15:00   0.000000
2017-12-31 17:30:00   0.000000
2017-12-31 17:45:00  10.590000
2017-12-31 18:00:00  21.180000
2017-12-31 18:15:00  10.590000
2017-12-31 18:30:00   0.000000
2017-12-31 18:45:00  10.590000
2017-12-31 19:00:00  21.180000
2017-12-31 19:15:00  10.590000
2017-12-31 19:30:00   0.000000
2017-12-31 19:45:00  10.590000
2017-12-31 20:00:00  21.180000
2017-12-31 20:15:00  10.590000
2017-12-31 20:30:00   0.000000
2017-12-31 20:45:00  10.590000
2017-12-31 21:00:00  21.180000
2017-12-31 21:15:00  10.590000
2017-12-31 21:30:00   0.000000
2017-12-31 21:45:00  10.590000
2017-12-31 22:00:00  21.180000
2017-12-31 22:15:00  10.590000
2017-12-31 22:30:00   0.000000
2017-12-31 22:45:00  10.590000
2017-12-31 23:00:00  21.180000
2017-12-31 23:15:00  10.590000
2017-12-31 23:30:00   0.000000
2017-12-31 23:45:00   0.000000

[105216 rows x 1 columns]

In [10]:
dataset.to_csv('interpolated_flood_pagasa2.csv')